CompileFlags:
    Add:
        - "-std=c++20"
        # The presence of compile_flags.txt encourages clangd to interpret these as relative to
        # workspace root and not the source directories
        - "-Icpp/lib/lz4/lib"
        - "-Icpp/lib/minhook/include"
        - "-Icpp/lib/detours/src"
        - "-Icpp/lib/imgui"
        - "-Icpp/lib/imgui/backends"
        - "-Icpp/lib/SDL/include"
